{% extends "layouts/master.html" %}

{% block 'contenu' %}

<div style="position: relative;height: 100vh;">
    <form action="{% url 'reset_password' %}" class="form_reset" method="POST">
        {% csrf_token %}
        <h3> {{message}} </h3>
        <h3 class="h1" style="color: black;">réinitialiser votre mot de passe</h3>
        <label for="" style="color: black;">Votre email</label>
        <input type="email" name="email_reset">
        <button type="submit">Envoyer</button>
    </form>
</div>
  
{% endblock 'contenu' %}