{% extends "layouts/master.html" %}
{% load static %}

{% block 'contenu' %}
   <section id="services">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6">
                    <img src="{% static 'image/arriver.jpg' %}" alt="" height="400px" class=" rounded-3" width="500px" style="object-fit: cover; object-position: center;">
                </div>
                <div class="col-lg-6">
                    <div class="col-md-8 mx-auto text-center" style="width: 100%;">
                    <h6 class="text-primary mt-4">TEAM EXPRESS Madagascar</h6>
                    <h1>NOS SERVICES DISPONIBLES 24h/7J</h1>
                    <h5 class="h5">Nous mettons à votre disposition des services de TRANSFERT de l'aéroport en ville et aux alentours, de votre Hôtel à l'aéroport. Nous organisons <a href="">des transferts et voyages dans tout Madagascar</a> et <a href="">proposons des voitures de Location </a> répondant aux besoins de votre itinéraire. <br> <span>Nous veillons à vous offrir des services de qualité accompagné des Chauffeurs professionnels et des voitures en parfaites état.</span>  L'éfficacité , la ponctuaité sont nos maitre mots</h5>
                </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect bounceInUp">
                        <div class="iconbox">
                            <img src="{% static 'image/model_ivato.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <h5 class="mt-4 mb-3 h5 text-center">Teams Express, les taxis de confiance à Madagascar !</h5>
                        <p>
Disponible 24h/24 et 7j/7, notre service de taxi vous accompagne à toute heure pour vos déplacements en ville ou vos transferts aéroport. Avec des véhicules confortables et bien entretenus, nous mettons un point d’honneur à vous offrir sécurité, ponctualité et qualité. Pour un accueil sans stress dès votre arrivée, créez dès maintenant votre compte et réservez en ligne votre trajet : une solution simple, rapide et fiable pour commencer votre séjour en toute sérénité.

</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <img src="{% static 'image/guide_chauffeur.jpg' %}" alt="">
                        </div>
                        <h5 class="mt-4 mb-2 h5 text-center">Service Chauffeur Privé</h5>
                        <p>Chez Teams Express, votre chauffeur est bien plus qu’un simple conducteur : il sera aussi votre guide personnel tout au long de votre séjour. Grâce à sa parfaite connaissance de Madagascar, il saura vous faire découvrir l’histoire fascinante du pays, ses parcs nationaux, ses paysages uniques et ses lieux culturels incontournables. Chaque trajet devient une occasion d’exploration et d’échange. Avec Teams Express, voyagez en toute sérénité, accompagné d’un chauffeur-guide passionné et dévoué.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <img src="{% static 'image/tour_ville.jpg' %}" alt="">
                        </div>
                        <h5 class="mt-4 mb-2 h5 text-center">TOUR DE VILLE Antananarivo</h5>
                        <p> La ville de Madagascar offre une charme unique avec ses maisons en brique rouges et ses toits en tuiles. C'est la ville où l'histoire de Madagascar s'est acccumulée sous forme de stèles et de monuments
                        historiques. Notre service de tour de ville vous permet de découvrir les sites emblématiques tels que le PALAIS DE LA REINE et de la CATHEDRALE CATHOLIQUE jusqu'aux ESCALIERS JUMELES opposé et l'AVENUE de L'INDEPENDANCE, le marché d'Analakely et bien plus encore.</p>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class='bx bxs-heart'></i>
                        </div>
                        <h5 class="mt-4 mb-2">Service</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo asperiores
                            perferendis </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class='bx bxs-rocket'></i>
                        </div>
                        <h5 class="mt-4 mb-2">Service</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo asperiores
                            perferendis </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class='bx bxs-doughnut-chart'></i>
                        </div>
                        <h5 class="mt-4 mb-2">Service</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil perspiciatis illo asperiores
                            perferendis </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock 'contenu' %}