{% extends "layouts/master.html" %}
{% load i18n %}
{% load static %}

   
{% block 'contenu' %} 
<div class="page-connex" style="padding-top: 6vh;">
   <div class="container">
     <div class="row">
        <div class="col-md-4 texte_souscrire">
      
            <h1 class="text-left">{% trans "Page de Souscription" %}</h1>
            <p class="text-left">{% trans "Merci de bien remplir le formulaire et d'inserer des informations exactes pour pour pouvoir traiter facilement votre demande" %}</p>
        </div>
        <!-- formulaire -->
        <div class="col-md-5" id="form-connexion">
            <form action="{% url 'souscrire_membre' %}" method="POST" enctype="multipart/form-data" style="text-transform: none;">
            {% if request.method == "POST" %}
                {% if erreur %}
                  <p style="color: red; font-weight: bold; font-size: 2vw;"> {{erreur}} </p>
                {% endif %}
              
            {% endif %}
                {% csrf_token %}
                <div class="row" style="padding: 10px;">
                    <div class="col-md-6">
                        <h3 class="text-center">{% trans "Souscription" %}</h3>
                    </div>
                    <hr>
                    <!--  -->
                    <div class="row">
            
                        <div class="col-md-10">
                            <input type="text" class="form-control input-conex" placeholder="Votre nom" id="" name="nom" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-10">
                            <input type="text" class="form-control input-conex" placeholder="Votre prénom(s)" id="" name="prenom" autocomplete="off">
                        </div>
                    </div>
                    <!-- <div class="row" >
                        <div class="col-md-10">
                            <input type="text" class="form-control input-conex" placeholder="Date de naissance" id="date_naissance" name="date_naissance" autocomplete="off" onfocus="(this.type='date')">
                        </div>
                    </div> -->
                    <div class="row">
                        
                        <div class="col-md-10">
                            <input type="email" class="form-control input-conex" placeholder="E-mail" id="" name="email" autocomplete="off">
                        </div>
                    </div>

                    <div class="row">
                        
                        <div class="col-md-10 icone-mdp">
                            <input type="text" class="form-control input-conex" placeholder="mot de passe" id="" name="password" autocomplete="off">
                            <i class="far fa-eye-slash" id="mdphide" onclick="affiche_mdp()"></i>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-10 icone-mdp">
                            <input type="text" class="form-control input-conex" placeholder="Confirmer" id="" name="confirm_password" autocomplete="off">
                            <i class="far fa-eye-slash" id="mdphide" onclick="affiche_mdp()"></i>
                        </div>
                    </div>
                    <div class="row">
            
                        <div class="col-md-10">
                            <input type="phone" class="form-control input-conex" placeholder="Votre numéro whatsApp" id="" name="whatsapp" autocomplete="off">
                        </div>
                    </div>


                    <div class="row">
                        <label for="" class="label col-md-2 control-label">Country</label>
                        <div class="col-md-10">
                            <select name="pays" id="" class="form-control">
                                <option value="France">France</option>
                                <option value="Amérique">Amérique</option>
                                <option value="Afrique">Afrique</option>
                                <option value="Chine">Chine</option>
                                <option value="Autre">Autre</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn-primary" id="bouton-connexion" type="submit">{% trans "Souscrire" %}</button>
                    </div>
        
                </div>
        </form>
        </div>
    </div>
   </div>
</div>

{% endblock 'contenu' %}
