 <!-- <footer>
    <div class="parent-footer">
        <h3>Nos services</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus adipisci expedita tempora amet dolores atque dolorem quaerat assumenda saepe! Veritatis, excepturi tenetur rem nisi dignissimos ullam labore mollitia dolorum nobis vel dolorem, illo provident amet exercitationem blanditiis ducimus aliquid hic.</p>

    </div>

    <div class="parent-footer">
        <h3>New letter</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt quas molestias quo magni nulla. Dolorem autem suscipit saepe eveniet possimus?</p>
        <div class="mail">
            <input type="email" placeholder="Your email">
            <button>Envoyer</button>
        </div>
        <div class="list_con">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-whatsapp-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="far fa-envelope"></i>
        </div>
    </div>

    <div class="parent-footer">
        <h3>Custmer service</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus eligendi quo alias aliquam nesciunt deleniti.</p>
        <div class="place">

            <div class="contacte"> 
                <div class="icones"><i class="fab fa-whatsapp"></i></div> 
                <div class="num"> <p>+261 339762338</p></div>
            </div>

            <div class="contacte">
                <div class="icones"><i class="fas fa-phone-volume"></i></div>
                <div class="num"><p>+261 347585496</p></div>
            </div>

            <div class="contacte">
                <div class="icones"><i class="fas fa-user-tie"></i> </div>
                <div class="num">02022003434</div>
            </div>

            <div class="contacte">
                <div class="icones"><i class="far fa-envelope"></i> </div>
                <div class="num"><p>taxiMadagascar@gmail.com</p></div>
            </div>

        </div>
    </div>
</footer>  -->
  <footer class="bg-dark text-white text-center py-3">
    <div class="footer-top">
<div class="container">
      <div class="row gy-auto">
        <div class="col-lg-4"><br>
          <h4>CONTACT</h4>
            <p class="text-start m-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, similique necessitatibus eum, hic pariatur autem reprehenderit dolores quis esse repellendus doloremque ratione deleniti ipsum cum! Nulla nesciunt laborum natus corporis.</p>
        </div>

        <div class="col-lg-4"><br>
          <h4>CONTACT</h4>
            <p class="text-start m-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, similique necessitatibus eum, hic pariatur autem reprehenderit dolores quis esse repellendus doloremque ratione deleniti ipsum cum! Nulla nesciunt laborum natus corporis.</p>
        </div>

        <div class="col-lg-4"><br>
          <h4>CONTACT</h4>
          <p>Lorem ipsum dolor sit amet.</p>
            <div class="places">
            <div class="contacte"> 
                <div class="icones"><i class="fab fa-whatsapp"></i></div> 
                <div class="num"> <p>+261 339762338</p></div>
            </div>

            <div class="contacte">
                <div class="icones"><i class="fas fa-phone-volume"></i></div>
                <div class="num"><p>+261 347585496</p></div>
            </div>

            <div class="contacte">
                <div class="icones"><i class="far fa-envelope"></i> </div>
                <div class="num"><p>taxiMadagascar@gmail.com</p></div>
            </div>

            <div class="contacte">
                <div class="icones"><i class="far fa-envelope"></i> </div>
                <div class="num"><p>taxiMadagascar@gmail.com</p></div>
            </div>
        </div><br><br>
        </div>
      </div>
    </div>
    </div>
    <!-- <div class="footer-bottom"><br>
        &copy; Réservation des voitures pour les touristes ou aventurier à Mada
    </div> -->
  </footer>