
{% load static %}

<!-- <header>

    <nav class="cc-navbar navbar navbar-expend-lg position-fixed w-100">
        <div class="container-fluid"> -->
        <!-- <span><img src="{% static 'image/logo.png' %}" alt="" width="250px" height="45px"></span> -->
        <!-- <div id="logos"></div>
        <ul>
            <li><a href="{% url 'accueil' %}">ACCUEIL</a></li>
            <li><a href="{% url 'service' %}">SERVICE</a></li>
            <li><a href="">A PROPOS</a></li>
            <li><a href="{% url 'page_connexion' %}">CONNEXION</a></li>
            <li><i class="fas fa-search" id="loupe"></i></li>
        </ul>
        </div>
    </nav> -->
<!-- </header> -->

<header class="navbar navbar-expand-lg bg-dark">
    <a href="#" class="navbar-brand">
        <img src="{% static 'image/logo.png' %}" alt="img" width="250px" height="45px">
    </a>
    <button type="button" class="navbar-toggler" style="background: white;" data-bs-toggle="collapse" data-bs-target="#nav-content">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-dark" id="nav-content" >
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a  href="{% url 'accueil' %}">ACCUEIL</a></li>
            <li class="nav-item"><a href="{% url 'service' %}">SERVICE</a></li>
            <li class="nav-item"><a href="">A PROPOS</a></li>
            <li class="nav-item"><a href="{% url 'page_connexion' %}">CONNEXION</a></li>
            <li class="nav-item"><i class="fas fa-search" id="loupe"></i></li>
        </ul>
    </div>

</header>


